.photo-grid{
  display:grid;
  align-items:stretch;
  color:#fff;
  position:relative;
  @include breakpoint(tablet){
    grid-template-columns: 1fr 1fr;
  }
  a.thumb{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    text-decoration: none;
    opacity:0.7;
    transition:0.25s;
    display:block;
    height:20em;
    @include breakpoint(tablet){
      //height:20em;
    }
    &:hover{
      cursor:pointer;
      opacity:1;
      transition:0.25s;
    }
    img{
      width:100%;
    }
  }
}
.gallery{
  position:relative;
  a{
    
  }
  img{
    width:100%;
    @include breakpoint(tablet){
      cursor:pointer;
    }
  }
  .VueCarousel-navigation{
    button{
      top:40%;
      background:rgba(0,0,0,0.5);
      color:#fff;
      height:5em;
      font-size:1em;
      padding:1em 0.75em !important;
      &.VueCarousel-navigation-prev{
        margin-right:0;
        transform:none;
      }
      &.VueCarousel-navigation-next{
        margin-left:0;
        transform:none;
      }
    }
  }
  .VueCarousel-inner{
    height:auto !important;
  }
  .VueCarousel-slide-adjustableHeight {
    display: block !important;
    height:auto !important;
  }
  .VueCarousel-inner {
    align-items: flex-start !important;
  }
  .post-popup{
    position:absolute;
    top:0;
    width:100%;
    z-index:9;
    background:$secondColor;
    .content{
      max-width:1200px;
      width:100%;
      margin:1em auto;
      padding:1em;
    }
    h1{
      color:$mainColor;
    }
  }
}